<ul>
    <li class="text-danger" style="list-style: none;cursor: pointer;"  >{{songIdSingnal().album}}</li>
    <li class="text-danger" style="list-style: none;cursor: pointer;"  >{{songIdSingnal().title}}</li>
    <li class="text-danger" style="list-style: none;cursor: pointer;"  >{{songIdSingnal().artist}}</li>
    <li class="text-danger" style="list-style: none;cursor: pointer;"  >{{songIdSingnal().genre}}</li>
    <li class="text-danger" style="list-style: none;cursor: pointer;"  >{{songIdSingnal().duration}}</li>
    <li class="text-danger" style="list-style: none;cursor: pointer;"  >{{songIdSingnal().year}}</li>
    <li class="text-danger" style="list-style: none;cursor: pointer;"  >{{songIdSingnal().trackNumber}}</li>
    <li class="text-danger" style="list-style: none;cursor: pointer;"  >{{songIdSingnal().isExplicit}}</li>
</ul>