
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<mat-drawer-container style="background-color: #333;" class="example-container h-100" [hasBackdrop]="true">
  <mat-drawer class="w-25" #drawer mode="over">
    <div>
      <button mat-raised-button (click)="drawer.toggle()">Volver</button>
    </div>
    @defer (when getSign()) {
      @if(getSign()){
        <button mat-raised-button (click)="drawer.toggle()" [routerLink]="['/']" routerLinkActive="router-link-active" style="margin-top: 15px;">
          Home
        </button>
      }
    }
    @defer (when !getSign()) {
      @if(!getSign()) {
        <button mat-raised-button (click)="drawer.toggle()" [routerLink]="['/prueba']" routerLinkActive="router-link-active" style="margin-top: 15px;">
          Prueba
        </button>
      }
      @if(!getSign()) {
        <button mat-raised-button (click)="drawer.toggle()" [routerLink]="['/songs']" routerLinkActive="router-link-active" style="margin-top: 15px;">
          Songs
        </button>
      }
    }
  </mat-drawer>
  <mat-drawer-content>
    <div style="position: sticky; top: 0;z-index: 9999;
    visibility: visible;">
      <button mat-icon-button color="primary"(click)="drawer.toggle()" >
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <!-- <button mat-raised-button (click)="drawer.toggle()">Toggle drawer</button> -->
    <div class="d-flex gap-2 mt-3" style="margin-left: 15px;">
      <button class="btn btn-primary btn-sm" (click)="changeTitle()">Cambiar</button>
      
      <!-- <button class="btn btn-primary btn-sm" (click)="generatePdf()">pdf</button> -->
      <button mat-icon-button color="primary" (click)="generatePdf1()">
        <mat-icon>download</mat-icon>
      </button>
    </div>
    @defer (when getSign()) {
      @if(getSign()){
        <button mat-fab color="primary" [routerLink]="['/']" routerLinkActive="router-link-active" style="margin-left: 15px;">
          <mat-icon>arrow_back_ios</mat-icon>
        </button>
      }
    }
    @defer (when !getSign()) {
      @if(!getSign()) {
        <button mat-fab color="primary" [routerLink]="['/prueba']" routerLinkActive="router-link-active" style="margin-left: 15px;">
          <mat-icon>arrow_forward_ios</mat-icon>
        </button>
      }
    }
    <ul>
      <li style="list-style: none;">1</li>
    </ul>
    
    
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
